<h2 class="title title--large title--yellow main__title--first">Matchup!</h2>
<h3 class="title title--medium title--yellow">Who wins??</h3>
<figure class="warrior-detail main__warrior-detail main__warrior-detail--first">
    <div class="warrior warrior--large"></div>
    <figcaption class="warrior-detail__caption">
        <div class="warrior-detail__name">Lazer</div>
        <div class="warrior-detail__wins">22</div>
    </figcaption>
</figure>
<h3 class="title title--large title--yellow title--italic main__title--third">vs</h3>
<figure class="warrior-detail main__warrior-detail">
    <div class="warrior warrior--large"></div>
    <figcaption class="warrior-detail__caption">
        <div class="warrior-detail__name">Blazer</div>
        <div class="warrior-detail__wins">15</div>
    </figcaption>
</figure>