<section class="leaderboard">
    <h3 class="title title--medium sidebar__title">Leaderboard</h3>
    <table class="table leaderboard__table">
        <thead class="table__thead">
            <tr class="table__row">
                <th class="table__cell">Warrior</th>
                <th class="table__cell text-right">Ranking</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table__row">
                <td class="table__cell">Lazer</td>
                <td class="table__cell text-right">22</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">Blaze</td>
                <td class="table__cell text-right">18</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">Blazer</td>
                <td class="table__cell text-right">15</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">Iceman</td>
                <td class="table__cell text-right">12</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">Lightning</td>
                <td class="table__cell text-right">9</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">Nitro</td>
                <td class="table__cell text-right">7</td>
            </tr>
        </tbody>
    </table>
</section>