<section class="warriors">
    <h3 class="title title--medium sidebar__title">Warriors</h3>
    <ul class="warriors__list clearfix">
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
        <li class="warriors__list-item" data-bind="component: 'Warrior'"></li>
    </ul>
</section>